// .auth-box {
//   max-width: 400px;
//   margin: 60px auto;
//   padding: 30px;
//   //background: #fff;
//   background: linear-gradient(135deg, #ff8800, #ff5e00, #212121);
//   border-radius: 12px;
//   box-shadow: 0 4px 12px rgba(0,0,0,0.1);
//   text-align: center;

//   h2 {
//     margin-bottom: 20px;
//     color: #333;
//   }

//   input {
//     display: block;
//     width: 100%;
//     margin: 10px 0;
//     padding: 12px;
//     border: 1px solid #ddd;
//     border-radius: 8px;
//     font-size: 14px;
//   }

//   button {
//     margin-top: 15px;
//     padding: 12px;
//     width: 100%;
//     background: linear-gradient(135deg, #000000, #000000);
//     border: none;
//     border-radius: 8px;
//     color: white;
//     font-size: 15px;
//     font-weight: bold;
//     cursor: pointer;
//     transition: 0.3s ease;

//     &:hover {
//       background: linear-gradient(135deg, #ef7000, #ff4b2b);
//     }
//   }
// }







.auth-box {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background: linear-gradient(135deg, #ff8800, #ff5e00, #212121);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;

  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .input-with-eye {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;

    input {
      flex: 1;
      padding-right: 40px; // space for eye
    }

    span {
      position: absolute;
      right: 12px;
      cursor: pointer;
      font-size: 18px;
      color: #333;
    }
  }

  button {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: linear-gradient(135deg, #000000, #000000);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: linear-gradient(135deg, #ef7000, #ff4b2b);
    }
  }
}



.toast-message {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(255, 85, 0);
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  animation: fadeInOut 2s ease forwards;
  z-index: 1000;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, 20px); }
  10% { opacity: 1; transform: translate(-50%, 0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, 20px); }
}
